@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #18181b; /* zinc-950 */
  color: #f4f4f5; /* zinc-100 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #27272a; 
}
::-webkit-scrollbar-thumb {
  background: #52525b; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a; 
}